input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}
a{
    text-decoration: none;
}
.nav-list{
    display: flex;
    gap: 1rem;
}

.nav-list-drop{
    display: none;
}
main{
    display: grid;
    padding: 4rem;
    justify-content: center;
}
main form{
    display: grid;
    gap: 1rem;
}
main form input{
    width: 100%;
    border-radius: 10px;
    border: .5px solid gray;
    padding: .3rem 1rem;
}
main form button{
    padding: .3rem 1rem;
    width: 100%;
    border-radius: 10px;
}

.nav-list-drop{
    display: none;
}
.drop-toggle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}


