nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}

a {
  text-decoration: none;
}

.main-title{
  margin-top: 10vh;
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

main {
  padding: 10rem 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form form button {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: 0.3px solid black;
  margin: 10px 0px;
}

.main-form form input {
  padding: 0.5rem;
  border-radius: 20px;
  width: 350px;
  margin: 10px 0px;
}

.login-form {
  position: absolute;
  right: 8%;
  top: 80%;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  border: 0.2px solid gray;
  display: none;
  z-index: 999 !important;
}

.form-group {
  /* display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem; */
  align-items: center;
  margin-bottom: 10px;
  justify-items: center;
}

.form-group input {
  max-width: 200px;
}

.login-btn {
  float: right !important;
  margin: 10px 0px;
  padding: 4px 14px;
  color: #3c3c3c;
  background-color: #d5d5d5;
  border: white;
}

.login-btn:hover {
  background-color: #b6b6b6;
}

.login-form-header {
  margin: 0;
  margin-bottom: 1rem;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #3c3c3c;
  color: #ececec;
  min-height: 200px;
  padding: 1.5rem;
}