input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
  }
  .back{
    position: absolute;
    top: 20px;
    left: 50px;
  }
  button {
    color: black;
    width: 100%;
    margin: 2rem 0;
    padding: .5rem;
    border-radius: 10px;
    border: .3px solid gray;
  }
  button:hover {
    opacity: 0.8;
  }
  main{
    padding: 9rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .main-title{
    text-align: center;
  }
  .form-signup{
    text-align: center;
  }